<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Item Catalogue</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            <h1 id="title">Item Catalogue</h1>
            <a href="#"><button id="login">LOGIN</button></a>
        </header>
        <aside>
            <h2>Categories</h2>
            {% for i in categories %}
            <h4 class="itemCate">{{ i[0] }}({{ i[1] }})</h4><br><br>
            {% endfor %}
        </aside>
        <section id="mostRecent">
            <h2>Most Recent Items</h2>
            {% for i in items %}
                <a href="{{ url_for('itemDesc', itemId=i[2]) }}" class="link">
                    <h4 class="itemName">{{ i[0] }}&ensp;</h4>
                </a>
                <h5 class="itemNameCat">({{ i[1] }})</h5><br>
            {% endfor %}
        </section>
    </body>
</html>