<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Item Catalogue</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            <h1 id="title">Item Catalogue</h1>
            <button id="login" onclick="location.href='{{ logState[0] }}'">{{ logState[1] }}</button>
        </header>
        <aside>
            <h2>Categories</h2>
            {% for i in categories %}
            <a href="{{ url_for('catItems', catId=i[2]) }}" class="link">
                <h4 class="itemCate">{{ i[0] }}({{ i[1] }})</h4><br><br>
            </a>
            {% endfor %}
            <a href="/categories/All%20Items" class="link">
                <h4 class="itemCate">All items</h4>
            </a>
        </aside>
        <section id="mostRecent">
            <h2>Most Recent Items</h2>
            <a href="newItem" class="link">
                <h4 id="addLink">Add Item</h4>
            </a>
            {% for i in items %}
                <a href="{{ url_for('itemDesc', itemId=i[2]) }}" class="link">
                    <h4 class="itemName">{{ i[0] }}</h4>
                </a>
                <h5 class="itemNameCat">({{ i[1] }})</h5><br>
            {% endfor %}
        </section>
    </body>
</html>